.payment-component
  position relative
  overflow hidden
  padding-top .3em
  margin-top -.3em
  .ct-pc-elem
    position absolute
    transform translateY(1.5em)
    white-space nowrap
    &.__active
      transform translateY(0)
