.tab-content.__2
	.left-col
		img.media.visible.__active.small-visible(src='build/img/videos/edu-mobile.jpg')
		img.media.visible.__active.mup-visible(src='build/img/videos/edu.jpg')
		.container
			.bg-component.__small-pad
				.ct-bg-inner
					.content
						.large-blue.overflow-hidden
							a.border-bottom(href='#') Накопительный вклад
							= ' '
							span поможет собрать
							= ' '
							span.refresh на&nbsp;учебу
						.small-grey Сумма вклада
						.range-component.__no-init
							.medium-black
								span.ct-rc-text 5,5
								= ' '
								span млн сум
							.ct-rc-thumb-container
								.ct-rc-thumb
						.small-grey Ежемесячное пополнение
						.range-component.__no-init
							.medium-black
								span.ct-rc-text 1,0
								= ' '
								span млн сум
							.ct-rc-thumb-container
								.ct-rc-thumb
						.small-grey Через год у вас будет
						.medium-black 6,8 млн сум
						a.button-component.__small(href='#') Открыть вклад
	.right-col
		.container
			.inner
				.card
				.large-blue
					a(href='#').border-bottom Простая карта
					= ' '
					span без комиссий
					= ' '
					.mup-visible.__block
					span за пополнение и снятие
				.cols
					.col
						.small-grey
							span Мобильный банк
							= ' '
							.mup-visible.__block
							span и СМС-информирование
						.medium-black бесплатно
					.col
						.small-grey Стоимость выпуска
						.medium-black бесплатно
				a.button-component.__small(href='#') Заказать карту