section.app.wow
	.site-container
		.container
			.left-col
			.right-col
				p Удобный мобильный банк. Все карты, счета, переводы и платежи в вашем кармане
				a.__appstore(href='#')
				a.__google-play(href='#')