section.card
	video.media(autoplay, loop, muted, playsinline,
	data-src='build/img/videos/card.mp4',
	poster='build/img/videos/card.jpg',
	style='background-image: url(build/img/videos/card.jpg)')
	img.media(src='build/img/videos/card-mobile.jpg')
	.bg-wave
	.site-container
		.container
			.bg-component
				.ct-bg-inner
					.animation-container
						.xlarge-blue
							a.card-link(href='#') Карта с кэшбеком
							span для выгодных покукок
						.cols
							.col
								.small-grey Кэшбек на все покупки
								.medium-black до 4%
							.col
								.small-grey Партнеры со скидками
								.medium-black 4000 партнеров
							.col
								.small-grey Если тратить 2 млн сум в месяц, на карту вернется
								.medium-black 80 000 сум
						a.button-component(href='#') Заказать карту
