section.i-want.wow
	.tabs-component
		.ct-tc-tabs
			span Я хочу
			a.__active новую машину
			a.__last квартиру
	.site-container
		.col
			.container
				.bg-component
					.ct-bg-inner
						.content
							.large-blue
								a.border-bottom(href='#') Кредит на авто,
								= ' '
								span например, на
								= ' '
								span.refresh Chevrolet Malibu 2
							.small-grey Нижняя сумма
							.medium-black 5,5 млн сум
							.range-component.__no-init
								.ct-rc-thumb-container
									.ct-rc-thumb
							.small-grey Ежемесячный платеж на 1 год
							.medium-black 540 000 сум
							a.button-component.__small(href='#') Оформить кредит