section.news
	.site-container
		.container
			.exchange-col
				a.large-black.border-bottom(href='#') Курс обмена
				.form
					.row
						input.text(value='2 000 000')
						.dropdown сум
					.row
						input.text(value='= 245,7')
						.dropdown $
				a.app.__appstore(href='#')
				a.app.__google-play(href='#')
			.news-col
				a.large-black.border-bottom(href='#') Новости банка
				.items
					.items-inner
						.item
							.time Сегодня, в 12:41
							a(href='#') В нашем телеграм-боте появились переводы с карты на карту
						.item
							.time Вчера
							a(href='#') Открытие нового головного офиса «ОриентФинанса»
						.item
							.time Вчера
							a(href='#') «ОриентФинанс» стал официальным спонсором ФК «Локомотив»
						.item
							.time 28 марта
							a(href='#') Новые карты системы UnionPay
			footer
				.copy © 2018 ЧАКБ «ОРИЕНТ ФИНАНС»
				.credentials
					a.logo(href='#')
					.credentials-text
						span Задизайнено
						br
						span в
						= ' '
						a(href='#') Студии Артемия Лебедева
						br
						a(href='#') Информация о сайте
