section.story.wow
	.site-container
		.container
			.right-col
				img(src='build/img/main/spacer240-140.png')
			.left-col
				p Мы долго не решались на&nbsp;ипотеку. Сейчас не&nbsp;жалеем - живем в своей квартире и платим меньше, чем за съемную»
				a(href='#'): span Как Илхам взял ипотеку и не разорился
