section.story
  background image-url('main/pattern-bg.png') bottom right / 88px 88px fixed, image-url('main/story-bg-mobile.svg') no-repeat 0 0 / 100%
  color white
  margin 6em 0 2em 0
  padding 0 0 2.5em 0
  .right-col
    background  image-url('plugs/story-mobile.jpg')
    background-size cover
    margin 0 1.7em 1em 1.7em
    @extend .clearfix
    max-width 350px
    margin-top -2.5em
    img
      width 100%
      float left
  .left-col
    padding 0 1.7em
    p
      font-size 1.4em
      font-weight bold
      position relative
      margin-bottom .7em
      &::before
        content '«'
        position absolute
        margin-left -.7em
    a
      color white
      font-size .87em
      display inline-block
      margin-right 6.5em
      span
        border-bottom 1.5px solid rgba(white, .5)
        position relative
        &::after
          border-bottom none
          display inline-block
          content ''
          width 7px
          height 12px
          position absolute
          margin .35em 0 0 .4em
          background image-url('svg-sprite/caret-right2.svg') no-repeat 0% 0%
          background-size contain
  @media (min-width medium-up)
    background image-url('main/pattern-bg.png') bottom right / 88px 88px fixed, image-url('main/story-bg.svg') no-repeat top center / 1440px
    padding-top 6em
    .right-col
      margin-top 0
      float right
      width 363px
      height 484px
      background  image-url('plugs/story.jpg')
      background-size cover
      transform translateX(60px)
      transition transform 2s
    &.animated
      .right-col
        transform translateX(0)
    .left-col
      padding 2.5em 0 0 4em
      width 59%
      float left
      box-sizing border-box
      p
        font-size 2.67em
        line-height 1.13
      a
        font-size 1.27em
        span
          &::after
            width 9px
            height 14px

