.large-blue, .xlarge-blue
  font-size 1.4em
  font-weight bold
  color color-blue
  margin-bottom .5em
.large-black
  font-size 1.4em
  font-weight bold
  margin-bottom .5em
.small-grey
  font-size .87em
  opacity .5
.medium-black
  font-size 1.13em
  font-weight bold
.border-bottom
  border-bottom 1.5px solid rgba(color-blue, .2)
  text-decoration none
.float-left
  float left
.float-right
  float right
input.text
  border none
  font-weight bold
  background transparent
  border-bottom 1.5px solid color-blue
  color black
  font-size 1.13em
  outline none
  display block
  box-sizing border-box
  width 100%
  margin .3em 0 1.3em 0
  max-width 240px
  padding-bottom .3em
  border-radius 0
.wow
  visibility visible !important
.overflow-hidden
  overflow hidden
.mup-visible
  display none
@media (min-width: medium-up)
  .small-visible
    display none
  .mup-visible
    display inline
    &.__block
      display block
  .xlarge-blue
    font-size 4em
    line-height 1.08
  .large-blue, .large-black
    font-size 1.67em
    margin-bottom 1em
  .small-grey
    font-size 1em
    margin-bottom .3em
  .medium-black
    font-size 2em
  input.text
    font-size 1.67em
    padding-bottom 0