@font-face
  font-family ALSSector
  font-weight normal
  src image-url('fonts/als_sector_regular.otf')

@font-face
  font-family ALSSector
  font-weight bold
  src image-url('fonts/als_sector_bold.otf')