font-size-main = 15px
font-color-main = black
font-family-main = ALSSector, sans-serif;
line-height-main = 1.4

color-blue = #0E1C4F
color-light-blue = rgba(color-blue, .5)
color-xlight-blue = rgba(color-blue, .2)
color-gold = #C39114
color-grey = rgba(black, .5)
color-light-grey = #F5F5F5
color-xlight-grey = rgba(black, .2)
link-color = color-blue

container-padding = 12px
site-container-min-width = 320px
site-container-max-width = 562px
site-container-mup-width = 1100px

//Брейкпоинты
medium-up = 1180px
