header.main
	a.elem.__active
		span Для меня и семьи
	a.elem
		span Для бизнеса
	a.elem
		span О банке
	a.elem
		svg.__location: +use('location')
		span Отделения
	a.elem.__right(href='#')
		svg.__search: +use('search')
	a.elem.__right(href='#')
		svg.__user: +use('user')
		span Войти
	a.elem.__right(href='#')
		svg.__comment: +use('comment')
		span Связь с банком
