nav.main
	.site-container
		.container
			a.logo(href='#')
			.trigger
			.menu
				a(href='#') Карты
				a(href='#') Вклады
				a(href='#') Кредиты
				a(href='#') Переводы и платежи
				a(href='#') Сейфы и ячейки
